@import 'reveal.js/dist/reveal.css';
@import 'reveal.js/dist/theme/simple.css';


.bucket-chart{
  width: 29vw;
  float: right;
}

.bucket-table {
  font-size: medium;
}

.slide-header-logo {
  float: right;
  height: 5rem;
  overflow: auto;
  padding-right: 1rem;
}

.header-divider {
  display: block;
  clear: right;
  border: 2px solid #001e61;
}

.header-h1 h3 {
  display: inline-block;
  color: #001e61;
  text-align: left;
  vertical-align: text-bottom;
  font-size: 0.75em!;
  font-weight: bold;
  padding-left: 2rem;
  font-family: 'Roboto', sans-serif!;
}

.header-div, .header-title-div, .header-logo-div {
  display: flex;
  vertical-align: middle;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.content-hr {
  width: 50%;
  text-align: center;
}

.header-title-div {
  align-items: center;
  color: #001e61;
  font-size: 0.75em!;
  padding-left: 2rem;
}

.bucket-definitions, .static-methodology-content, .agenda-list, .objectives-list {
  font-family: Roboto, sans-serif!;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: left;
  line-height: 1.3;
}

.bucket-definitions {
  padding-top: 1rem;
  font-size: 25px;
}

.agenda-list {
  font-size: 30px;
}

.objectives-list {
  font-size: 25px;
  padding-bottom: 2rem;
  padding-top: 0.75rem;
}

.content-p {
padding-left: 3rem;
padding-right: 2rem;
font-size: 25px;
}

.page-sub-heading {
  padding-top: 1.5rem;
  padding-left: 2rem;
  text-align: left;
  font-family: 'Roboto', sans-serif!;
  color: #001e61;
  font-size: 35px;
}

.chart-size {
  height: 128px;
  width: 128px;
}

/* --------------------------------------------------------------------------------
Grid
-------------------------------------------------------------------------------- */

.grid {
  display: flex;
  flex: 0 1 auto;
  /* defaults to 'row' */
  flex-direction: row;
  flex-wrap: wrap;
  /* defaults to 'flex-start' */
  justify-content: flex-start;
  align-items: flex-start;
}

.grid-col {
  flex: 0 0 auto;
  padding: 0 0.5rem 0.5rem;
  box-sizing: border-box;
}

.grid-col_1 {
  flex-basis: 8.33333333%;
  max-width: 8.33333333%;
}

.grid-col_2 {
  flex-basis: 16.66666667%;
  max-width: 16.66666667%;
}

.grid-col_3 {
  flex-basis: 25%;
  max-width: 25%;
}

.grid-col_4 {
  flex-basis: 33.33333333%;
  max-width: 33.33333333%;
}

.grid-col_5 {
  flex-basis: 41.66666667%;
  max-width: 41.66666667%;
}

.grid-col_6 {
  flex-basis: 50%;
  max-width: 50%;
}

.grid-col_7 {
  flex-basis: 58.33333333%;
  max-width: 58.33333333%;
}

.grid-col_8 {
  flex-basis: 66.66666667%;
  max-width: 66.66666667%;
}

.grid-col_9 {
  flex-basis: 75%;
  max-width: 75%;
}

.grid-col_10 {
  flex-basis: 83.33333333%;
  max-width: 83.33333333%;
}

.grid-col_11 {
  flex-basis: 91.66666667%;
  max-width: 91.66666667%;
}

.grid-col_12 {
  flex-basis: 100%;
  max-width: 100%;
}